<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>
  <meta charset="utf-8" />

  <!-- Set the viewport width to device width for mobile -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Welcome to Foundation</title>

  <!-- Included CSS Files -->
  <link rel="stylesheet" href="/assets/styles/css/app.css">

  <script src="/assets/js/foundation/modernizr.foundation.js"></script>

</head>
<body>


  <%= yield %>


  <!-- Included JS Files (Uncompressed) -->
  <script src="/assets/js/foundation/jquery.js"></script>

  <script src="/assets/js/foundation/jquery.cookie.js"></script>

  <script src="/assets/js/foundation/jquery.event.move.js"></script>

  <script src="/assets/js/foundation/jquery.event.swipe.js"></script>

  <script src="/assets/js/foundation/jquery.foundation.accordion.js"></script>

  <script src="/assets/js/foundation/jquery.foundation.alerts.js"></script>

  <script src="/assets/js/foundation/jquery.foundation.buttons.js"></script>

  <script src="/assets/js/foundation/jquery.foundation.clearing.js"></script>

  <script src="/assets/js/foundation/jquery.foundation.forms.js"></script>

  <script src="/assets/js/foundation/jquery.foundation.joyride.js"></script>

  <script src="/assets/js/foundation/jquery.foundation.magellan.js"></script>

  <script src="/assets/js/foundation/jquery.foundation.mediaQueryToggle.js"></script>

  <script src="/assets/js/foundation/jquery.foundation.navigation.js"></script>

  <script src="/assets/js/foundation/jquery.foundation.orbit.js"></script>

  <script src="/assets/js/foundation/jquery.foundation.reveal.js"></script>

  <script src="/assets/js/foundation/jquery.foundation.tabs.js"></script>

  <script src="/assets/js/foundation/jquery.foundation.tooltips.js"></script>

  <script src="/assets/js/foundation/jquery.foundation.topbar.js"></script>

  <script src="/assets/js/foundation/jquery.placeholder.js"></script>


  <!-- Application Javascript, safe to override -->
  <script src="/assets/js/foundation/app.js"></script>
</body>
</html>
